.list {
  height: 70vh;
  overflow-y: auto;
  padding: 10px;

  &__item {
    padding: 10px;
  }

  &__anchor {
    height: 1px;
  }

  &__empty{
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}